body {
    width: 1000px;
    height: auto;
    border: 1px solid #333;
    padding: 20px;
    background-color: #f9f6f1;
    color: #222;
    word-break: keep-all;
}

header>h1 {
    text-align: center;
    font-size: 50px;
    margin: 0;
}

header>p {
    text-align: right;
}

.headline>h2 {
    text-align: center;
}

section {
    padding: 0 40px;
}

article {
    display: flex;
    width: 100%;
}

article>section {
    width: 50%;
}

article .column p {
    padding: 0 20px 0 20px;
}

.page-btn {
    text-align: center;
    margin-top: 30px;
}

.page {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #1a242f;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 10px 3px;
    color: white;
    background-color: #2c3e50;
}

.on {
    color: rgb(0, 0, 0);
    background-color: #acacac;
}

footer {
    text-align: center;
    font-size: 12px;
    margin-top: 30px;
}

footer p {
    margin: 0;
}

form>div {
    width: 330px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

form>div label {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

form>label {
    font-weight: bold;
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

form>textarea {
    width: 330px;
    height: 130px;
}

form>button {
    margin-top: 5px;
    padding: 10px 20px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}